<div th:insert="parts/header.html"></div>
<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form th:action="@{/admin/delete/{id}(id=${usr.id})}"
                  class="form" method="post" th:object="${usr}">
                <div class="form-group">
                    <label for="userid">Username</label>
                    <input type="hidden" class="form-control" id="userid" th:field="*{id}"/>
                </div>
                <div class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">

                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name"
                           placeholder="Full Name" th:field="*{name}" readonly/>
                </div>
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">

                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username"
                           placeholder="Username" th:field="*{username}" readonly/>
                </div>
                <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">

                </div>

                <button type="submit" class="btn btn-primary">Delete</button>
                <a class="btn btn-default" th:href="@{/admin/users}">Cancel</a>
            </form>
        </div>
    </div>
</div>
<div th:insert="parts/footer.html"></div>