<div th:insert="parts/header"></div>
<h3>User Details</h3>

    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form th:action="@{/user/delete/{id}(id=*{id})}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="userid">Username</label>
                        <input type="hidden" class="form-control" id="userid" th:field="*{id}"
                               readonly/>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" readonly
                               th:field="*{firstName}"/>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" readonly
                               th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" readonly
                               th:field="*{username}"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email"
                               th:field="*{email}" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input type="text" class="form-control" id="role"
                               th:field="*{role.name}" readonly/>
                    </div>
                    <div class="form-group">
                        <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>

                        <button type="submit" class="btn btn-danger" th:if="*{id} != 1">Delete</button>

                        <a class="btn btn-default" th:href="@{/}">Cancel</a>
                    </div>
                </form>

    <div th:insert="parts/footer">

    </div>